# Global owners
*       @techAlhaji

# Specific configurations
/.github/workflows/   @techAlhaji
/apps/                @techAlhaji
/packages/            @techAlhaji
/examples/            @techAlhaji
/docs/                @techAlhaji
